@font-face {
    font-family: "Comfortaa-regular";
    src: url("fonts/Comfortaa-Regular.otf");
   }


@font-face {
    font-family: "Comfortaa-bold";
    src: url("fonts/Comfortaa-bold.otf");
}


@font-face {
    font-family: "Comfortaa-light" ;
    src: url("fonts/Comfortaa-light.otf");
}


@font-face {
    font-family: "GeosansLight";
    src: url(fonts/GeosansLight.ttf);
}

@font-face {
    font-family: "GeosansLightOblique";
    src: url(fonts/GeosansLight-Oblique.ttf);
}

@font-face {
    font-family: "MavenPro";
    src: url('fonts/MavenPro-VariableFont_wght.ttf');
    font-weight: 450;
}

.helvetica{
    font-family: "Helvetica", 'Arial', sans-serif;
}
.geosanslight{
    font-family: "GeosansLight";
}

.geosanslightoblique{
    font-family: "GeosansLightOblique";
}
.comfortaa-regular{
    font-family: "Comfortaa-regular";
}


.comfortaa-bold{
    font-family: "Comfortaa-bold";
   
}

.comfortaa-light{
    font-family: "Comfortaa-light" ;
}

.mavenpro{
    
    font-family: "MavenPro";

}
.title-bg{


    
    background-image: url("../media/home/bg-home.jpg");
    max-height: 300px;
    overflow: hidden; 
    background-repeat:inherit;
    
    
}


.bg-img-top{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 50%;
    overflow: hidden;
    z-index: -1;
    -webkit-mask-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.bg-img-style{
    object-position: 0 -200px;
    opacity: 60%;
    filter: grayscale(70%) contrast(300%);
}

.home-box{
    background-color: #222222;
    color: white;
    border-radius: 14px;
    padding: 20px;
    
}


.hr{
    border: 3px solid #57acdc;
    border-radius: 3px;
    opacity: 100%;
}
