@font-face {
    font-family: "Comfortaa-regular";
    src: url("fonts/Comfortaa-Regular.otf");
   }


@font-face {
    font-family: "Comfortaa-bold";
    src: url("fonts/Comfortaa-bold.otf");
}


@font-face {
    font-family: "Comfortaa-light" ;
    src: url("fonts/Comfortaa-light.otf");
}
.comfortaa-regular{
    font-family: "Comfortaa-regular";
}


.comfortaa-bold{
    font-family: "Comfortaa-bold";
   
}

.comfortaa-light{
    font-family: "Comfortaa-light" ;
}


.title-bg{


    
    background-image: url("../media/home/bg-home.jpg");
    max-height: 300px;
    overflow: hidden; 
    background-repeat:inherit;
    
    
}


.bg-img-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: -1;
}